NEXT_PUBLIC_SUPABASE_URL=https://mwiaqjjribxrywpmlkik.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_1BcKckF5lgmxYZbwBrgaPg__IarRmUl
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13aWFxampyaWJ4cnl3cG1sa2lrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MjA1NTcsImV4cCI6MjA4NzQ5NjU1N30.6SrGKq4wTfXnRXFxxN9vSpvKCHdPyDmzcQ8yrUV0LlY
PORT=5432
SUPABASE_DB=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=yd6WMoYVpQfDS1Ox